div {
    background-color: rgb(183, 163, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

section {
    width: 600px;
    border-radius: 10px;
    padding: 50px;
    background-color: #ffffff;
}

mat-form-field {
    display: grid;
    gap: 2px;
}