<app-nav-bar></app-nav-bar>

<div class="home-container">

    <mat-card class="photo-card">
      <img mat-card-image src="../../../assets/developer.jpg" alt="developer girl ">
    </mat-card>

    <mat-card class="info-card">
      <mat-card-title>Reem Said</mat-card-title>
      <br>
      <mat-card-content>
        <p>Hello! I'm Reem Said, a passionate and creative web developer with over 5 years of experience in crafting dynamic and user-friendly websites. Specializing in front-end development, I have a keen eye for design and a commitment to creating responsive, accessible web experiences. My journey in tech started with a curiosity for how websites work, which quickly turned into a rewarding career. Beyond coding, I love collaborating with clients to bring their visions to life and continuously learning new technologies to stay ahead in this ever-evolving industry. When I'm not coding, you might find me exploring nature trails or tinkering with digital art. Let's connect and create something amazing together!</p>
      </mat-card-content>
    </mat-card>
  </div>

  <section class="projects">
    <h2><img src="../../../assets/projects.png" alt="Your Icon" width="50px">
    Projects <img src="../../../assets/projects1.png" alt="Your Icon" width="50px"></h2>
    <ul class="project-list">
      <li>
        <div class="project-card">
          <h3>Portfolio Website Redesign</h3>
        </div>
      </li>
      <li>
        <div class="project-card">
          <h3>E-commerce Mobile App Development</h3>
        </div>
      </li>
      <li>
        <div class="project-card">
          <h3>Corporate Website Enhancement</h3>
        </div>
      </li>
      <li>
        <div class="project-card">
          <h3>Online Booking System Integration</h3>
        </div>
      </li>
      <li>
        <div class="project-card">
          <h3>Custom WordPress Theme Development</h3>
        </div>
      </li>
    </ul>
  </section>
